body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}
td{
    text-align: center;
}
textarea{
    width: 85%;
    height: 50%;
}

.container {
    width: 40%;
    margin: 20px 20px 20px 10%;
    overflow: hidden;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    float: left;
    border-radius: 4px;
}
.displayCintainer{
    width: 30%;
    margin: 20px 20px 20px 20px;
    overflow: hidden;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    float: left;
    border-radius: 4px;
}
.containerChild{
    float: left;
    width: 95%;
    min-height: 123px;
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
    margin: 10px;
    border-radius: 4px;
    padding: 10px;
}
.patientName{
    float: left;
    width: 80%;
    min-height: 60px;
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
}
.display{
    float: left;
    width: 90%;
    min-height: 560px;
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}
.button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    /* font-size: 32px; */
    cursor: pointer;
    border-radius: 4px;
    height: 30px;
    width: 100px;
    
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.button:hover {
    background-color: #e3e7ce;
    color: #4CAF50;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s 0s ease;
    border-radius: 10px;
  }
  .Ccontainer {
    width: 30%;
    margin: 20px 20px 20px 35%;
    overflow: hidden;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    float: left;
    border-radius: 4px;
}
.patientInfo{
    text-align: left;
    padding: 5px;
}